<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Index Page</title>
</head>
<body>
<h1 th:text="'Hello Index'">My Index Page!!!</h1>
<table>
    <tbody>
        <tr>
            <td>Description</td>
            <td>Notes</td>
        </tr>
        <tr th:each="re:${list}">
            <td th:text="${re.getDescription()}">123</td>
            <td th:text="${re.getNotes().getRecipeNotes()}">123</td>
        </tr>

    </tbody>
</table>
</body>
</html>